#backGround{
  background-color:rgb(192,249,242) ;
  width: 600px;
  padding-top: 30px;
  height: 359px;
  margin: auto;
  border: 1px solid black;
  border: none;
}
#whiteGround{
  width:80%;
  background-color:#fff;
  height: 339.5px;
  margin-left: 30px;
  margin: auto;
  padding-top: 20px;
  
  
}
  
  
  

.register{
  background-color:#fff;
  width: 103%;
  color: gray;
  padding-left: 15px;
  height: 326px;
  margin-left: -20px;
  cursor: pointer;
}
h3{
  font-size: 13px;
  color: grey;
}
body{
  margin: 0;
  padding: 0;
}
input{
  /* margin-top: 10px; */
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
  padding: 7px;
}
::placeholder{
  font-size: 10px;
}
button{
  margin-top: 10px;
  background-color: black;
  color: white;
  font-size: 7px;
  padding: 7px;
  width: 26%;
  border: none;
}
#login{
  font-size: 0.8rem ;
  color: #fff;
  margin-left: 3px;
  font-size: 7px;
  
}
#acountRegister{
  font-size: 0.8rem;

}
#email{
  margin-top: -30px;
}
img{
  
  padding-top:27px;
  width: 60%;
  bottom: 295px;
  height: 325px;
  margin-left: 197.2px;
  margin-top: -320px;
  
  /* bottom: 296.5px; */
}
.gray-background{
  background-color: #F3F3F4;
  width: 90%;
  height: 390px;
  padding-left: 20px;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
  background-size: contain;
}


h1{
  width: 50%;
  margin: auto;
  margin-top: 10px;
}
#displayEmail{
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  height:0.3px;
  color: darkcyan;
}
#displayMessage{
  font-size:0.6rem ;
  height: 0.3px;
  color: green;
}
body{
  margin: 0;
  padding: 0;
}

  
